body{
    position: relative;
    background-image: url(../resources/images/stone-texture.jpeg);
    font-size: 20px;
    font-family: monospace;
    color: white;
}

#landing-zone {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 880px;
    width: 880px;
    z-index: 9000;
    text-align: center;
}

#landing-zone h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    width: fit-content;
}

#start-button {
    width: 300px;
    height: 50px;
    color: white;
    background-image: url();
}


#start-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
}

#scoreboard {
    height: 50px;
    width: 100%;
}

#current-level-elm {
    position: absolute;
    top: 15px;
    left: 30%;
}

#menu {
    background-image: url(../resources/images/papyrus.webp);
    background-position-x: center;
    background-position-y: -30px;
    position: absolute;
    left: 1px;
    right: 0;
    height: 650px;
    width: 190px;
    z-index: 9000;
    color: black;
}

#gameboard {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 880px;
    width: 880px;
    background-image: url(../resources/images/path.webp);
    z-index: 9000;
}

#lives {
    display: flex;
    height: 30px;
    width: 100px;
}

#lives1, #lives2, #lives3 {
    height: 30px;
    width: 30px;
    display: block;
}


.life {
    height: 30px;
    width: 30px;
}

 .key, .player, .exit-closed, .exit-open, .enemy, .teleport, .bullet, .fire-altar-on, .fire-altar-off {
    position: absolute;
    background-position: center;
    background-size: cover;
}

.wall {
    position: absolute;
    background-image: url(../resources/images/brick-texture.jpeg);
}

.path {
    position: absolute;
    z-index: -1;
}

.key {
    background-image: url(../resources/images/key.webp);
}

.player {
    z-index: 9000;
    background-image: url(../resources/images/player.png);
}

.exit-closed {
    background-image: url(../resources/images/door-closed.png);
}

.exit-open {
    background-image: url(../resources/images/door-open.png);
}

.enemy {
    background-image: url(../resources/images/blade.png);
}

.teleport {
    background-image: url(../resources/images/teleport.png);
}

.bullet {
    background-image: url(../resources/images/fireball.png);
}

.fire-altar-on, .fire-altar-off {
    background-image: url(../resources/images/fire-altar.png);
}

h1, h2{
    width: 170px;
}

h1{
    font-size: 1.5em;
    text-decoration: underline;
}

h2{
    font-size: 1.3em;
    margin-bottom: 5px;
}
